$color-body: #fefefe;
$color-headings: #282424;
$color-links: #00b386;

body {
	background-color: $color-body;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	color: $color-headings;
}
a {
	color: $color-links;
}
a:hover,
a.nav-link:hover {
	color: #33ccff !important;
}
.bg-purple {
	background-color: #bf00ff;
}
.bg-light-green {
	background-color: #00cc00;
}
.bg-light-green2 {
	background-color: #ccffcc;
}
.bg-orange {
	background-color: #ffd9b3;
}
.btn-primary-custom {
	background-color: #eaa4a4;
	border-color: #eaa4a4;
	color: #fff;
	transition: all 0.2s;
}
.btn-primary-custom:hover {
	background-color: #fff;
	color: #eaa4a4;
	border-color: #eaa4a4;
}
