



    
{%- assign products = section.settings.products -%}
{%- paginate collection.products by 9 -%}
<div class="container">
    <div class="row">
        <h1 class="text-center my-3">
            {% if collection.handle == 'all' %}All{% endif %}
            {{ collection.title }}
        </h1>
    </div>
    
    <div class="row justify-content-between">
        {% for block in section.blocks %}
        {% case block.type %}
        {% when 'sort_order' %}
        {%- render 'collection-filter' -%}
        {% when 'products_number' %}
        <div class="col col-sm-3 col-md-2 col-lg-1">{{ collection.products_count }}
            Products</div>
        {% else %}
        {% endcase %}
        {% endfor %}
    </div>
    <div class="row my-4">
        <div class="col-md-3">
            <div class="tags">
                <div class="h4">Filter By Color</div>                
                <div>
                {% assign handle = collection.handle %}                   
                {%- paginate collection.products by 100 -%}

                {% assign allowed_tags = "Black,Yellow,Blue,White,Red,Gold,Orange" | split: "," %}
                {% for tag in allowed_tags %}
                  {% assign tagCount = 0 %}
                  {% for product in collections[handle].products %}
                    {% for productTag in product.tags %}
                      {% if productTag == tag %}
                         {% assign tagCount = tagCount | plus: 1 %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                
                <div>{{ tag | link_to_tag: tag }} ({{ tagCount }})</div>
                {% endfor %}

                {% endpaginate %}
                </div>              
                <hr>
            </div>
            <div class="h4">Filters</div>
            {% render 'collection-product-filter' %}
        </div>
        <div class="col-md-9">
            <div class="row row-cols-sm-2 row-cols-md-3">
                {%- for product in collection.products -%}
                {%- assign image = product.featured_media.preview_image -%}
                {% assign secondaryImage = product.images[1] %}
                <div class="col mb-3">
                    {%- render 'product-card', product: product, image: image, secondImage: secondaryImage -%}
                </div>
                {%- else -%}
                <p>no matches</p>
                {%- endfor -%}
            </div>
        </div>

    </div>
    {%- render 'pagination' , paginate: paginate -%}
</div>

{%- endpaginate -%}


{% schema %}

{
    "name": "Collection Pages",
    "settings": [
        {
            "type": "range",
            "id": "products",
            "label": "Products Per Collection",
            "min": 6,
            "max": 24,
            "step": 1,
            "default": 6
        }
    ],
    "blocks": [
        {
            "type": "sort_order",
            "name": "Sort Order",
            "limit": 1
        }, {
            "type": "products_number",
            "name": "Products Number",
            "limit": 1
        }
    ]
}

{% endschema %}